.botao-login{
  background-color: #2e77d1;
<<<<<<< HEAD

=======
  border-radius: 30px;
>>>>>>> 3f6d931382954f719c2c46be121303f485b81624
}

.item-menu{
  background-color: #2e77d1;
  border: solid 1px white;
  font-size: 18px;
  font-weight: bold;

}

