<<<<<<< HEAD
.botao-login {
  background-color: #2e77d1;
  border-radius: 30px;
}

.botao-cadastro {
  background-color: rgb(204, 141, 23);
  border-radius: 30px;
}

.item-menu {
=======
.botao-login{
  background-color: #2e77d1
}

.item-menu{
>>>>>>> 3f6d931382954f719c2c46be121303f485b81624
  background-color: #2e77d1;
  border: solid 1px white;
  font-size: 18px;
  font-weight: bold;
<<<<<<< HEAD
}
=======

}

>>>>>>> 3f6d931382954f719c2c46be121303f485b81624
