<!-- Menus -->
<div class="row area-login">
  <div class="col text-center item-menu">
    HOME
  </div>
  <div class="col text-center item-menu">
    IDEAR
  </div>
  <div class="col text-center item-menu">
    TECNOPUC
  </div>
  <div class="col text-center item-menu">
    TORNEIO EMPREENDEDOR
  </div>
  <div class="col text-center item-menu" style="color: white;">
    LOGIN
  </div>
</div>
<!-- Menus -->

<!-- Login -->

<div class="row text-center;" style="margin-top: 20%; padding: 15px;">
  <div class="col-2" style="background-color: white;">
    <div class="row m-1">
      <div class="col">
        <input type="text" placeholder="Usuário" />
      </div>
    </div>
    <div class="row m-1">
      <div class="col">
        <input type="text" placeholder="Senha" />
      </div>
    </div>
    <div class="row">
      <div class="col">
        <button style="background-color: blue; color: white; margin-left: 125px; margin-top: 8px;">Login</button>
      </div>
    </div>
  </div>
</div>

<!-- Login -->
